<header>
	<nav class="navbar navbar-expand-xl fixed-top navbar-light bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="../assets/images/logo.png" alt="logo" width="75" />
				PizzaCO
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#home">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Quienes somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#menu">Menu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contactenos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#map">Mapa del sitio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
					</li>
				</ul>
			</div>
      <button
        class="btn btn-outline-warning"
        data-bs-toggle="modal"
        data-bs-target="#cartModal"
      >
        <i class="fas fa-shopping-cart"></i>
      </button>
		</div>
	</nav>
</header>

<app-home></app-home>
<app-about></app-about>
<app-menu></app-menu>
<app-services></app-services>
<app-contact></app-contact>
<footer id="map" class="bg-dark p-4 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-xxl-3">
				<a class="navbar-brand" href="#">
					<img src="../assets/images/logo.png" alt="logo" width="250" />
				</a>
			</div>
			<div class="col-6 col-md-4 col-xxl-3">
				<ul>
					<li class="nav-item">
						<a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Quienes somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#menu">Menu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contactenos</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-md-4 col-xxl-3">
				<ul>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-facebook"></i>
							facebook
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-instagram"></i>
							instagram
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-twitter"></i>
							twitter
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-youtube"></i>
							youtube
						</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-xxl-3">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d63458.3702289234!2d-75.61623104327956!3d6.24419997864681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spizza!5e0!3m2!1sen!2sco!4v1631758864049!5m2!1sen!2sco"
					width="450"
					height="300"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
				></iframe>
			</div>
		</div>
	</div>
</footer>
