<section id="services">
				<div class="container">
					<h1>Servicios especiales para eventos</h1>
					<hr>
					<div class="row">
						<div class="col-12 col-lg-5">
							<!-- <h2>Servicios especiales para eventos</h2> -->
							<img src="../../assets/images/eventos/foto3@2x.png" class="img-fluid" alt="">
							<p>Contamos con 6 servicios diferentes para la celebración de tu evento.</p>
						</div>
						<div class="col-12 col-lg-7">
							<div class="accordion" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Celebración de cumpleaños
										</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													¿Se acerca tu <strong>cumpleaños</strong> y no sabes qué plan hacer para disfrutar con tus familiares y amigos? Podemos darte una buena alternativa: comer algo sumamente delicioso y disfrutar de un ambiente acogedor y familiar en PizzaCo.
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/cumpleaños.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Aniversarios
										</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa atque voluptatum laudantium architecto, voluptate ullam odio eius incidunt maxime perferendis. Veniam quidem dignissimos, repellendus neque vero vitae deserunt fugiat minima!
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/aniversario.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Fiestas infantiles
										</button>
									</h2>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati saepe enim ducimus vel nihil in ex velit, maiores a magni repudiandae corporis, quod esse modi.
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/fiesta-infantil.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingFour">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Declaraciones o propuestas
										</button>
									</h2>
									<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aut voluptates distinctio? Quisquam, ab tempore!
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/declaracion.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingFive">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Despedidas
										</button>
									</h2>
									<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore iure id deserunt autem, ut saepe, commodi quae molestias perspiciatis optio, possimus temporibus.
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/despedida.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingSix">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											Cena con amigos
										</button>
									</h2>
									<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<div class="row">
												<div class="col-12 col-xl-6">
													Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequatur deleniti amet iure facere ab perspiciatis obcaecati illo illum, sapiente repudiandae ad, quis velit maxime dolore sed!
													<a href="#contact" class="btn btn-warning" style="width: 100%">
														Más información
													</a>
												</div>
												<div class="col-12 col-xl-6">
													<img src="../../assets/images/eventos/cena-con-amigos.jpg" alt="cumpleaños" class="img-thumbnail">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
